.unordered {
list-style-type: square;
line-height: 170%;
background: #AF0CFF;
padding: 20px;
width: 20%;
font-family: Arial, Helvetica, sans-serif;
}

.unordered li {
background: #D888FF;
margin: 5px;
}

.nested-ul {
list-style-type: circle;
background: #EECBFF;
margin: 5px;
}