.unordered {
  list-style-type: square;
}
 
.nested-ul {
  list-style-type: circle;
}
.unordered {
  background-batch: #AF0CFF;
  padding: 20px;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
}
.unordered li {
  background-color: #D888FF;
  margin: 5px;
}
.nested-ul li {
  background-color: #EECBFF;
  margin: 5px;
}
.ordered {
  background-color: #FD8A00;
  padding: 20px;
  width: 20%;
  font-family: 'Brush Script MT', cursive;
  font-size: 1.3em;
}

.ordered li {
  background-color: #FFCF95;
  padding: 5px;
  margin-left: 20px;
}
.unordered {
    line-height: 170%;
  }
